nav {
    align-items: center;
    border-bottom: 2px solid hsla(215, 85%, 45%, 0.432);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 70px;
    width: 100%;
}

div img {
    max-width: 130px;
}

button:hover{
        color:white;
        background-color:rgb(7, 53, 140); ;
    }

button{
    margin: 10px;
}    

h1 {
    color:rgb(7, 53, 140);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-variant: small-caps;
}
